*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.idea/caches
.idea/libraries
.idea/modules
lint/*
/buildSrc/build/
.cxx
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/codeStyles/Project.xml
